h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: maroon;
    background-color: cornflowerblue;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: chocolate;
    background-color: darkkhaki;
}
img {
    border-radius: 30px 50px 10px 90px;
}
.buk {
    font-size: 25px;
    line-height: 30px;
}
p {
    font-size: larger;
}